<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="expo.modules.deviceinfoplus">
    <application>
        <receiver
            android:name=".BatteryWidgetReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.intent.action.BATTERY_CHANGED" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/battery_widget_info" />
        </receiver>
    </application>
</manifest>
